# java
*.class

# eclipse
.project
.settings/
.classpath

# IDEA
.idea
*.iml

# Maven
target/

# Gradle
.gradle/
build/


# Log file
*.log

# MAC system files
.DS_Store

# Memory log files
java_pid*.hprof
